In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings_df = pd.read_csv('datasets/ratings.csv')
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [12]:
ratings_df.shape

(26024289, 4)

In [11]:
ratings_df['userId'].nunique()

270896

In [13]:
ratings_df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [14]:
ratings_df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [21]:
ratings_df['userId'].max()

np.int64(270896)

In [4]:
## create a users dataframe

users_df = ratings_df.groupby('userId').size().reset_index(name='num_of_ratings')
users_df.rename(columns={'userId': 'user_id'}, inplace=True)
users_df['is_new_user'] = 0
users_df['tags'] = ''
users_df.head()

   user_id  num_of_ratings  is_new_user tags
0        1              27            0
1        2              22            0
2        3              10            0
3        4              62            0
4        5              26            0

In [5]:
users_df.shape

(270896, 4)

In [6]:
import os

# Create the directory if it doesn't exist
os.makedirs('data_model', exist_ok=True)

# Save the users_df as a CSV file in the data_model directory
users_df.to_csv('data_model/dim_users.csv', index=False)